* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* NAVIGATION BAR */

nav {
    display: flex;
    justify-content: center;
    background-color: gold;
    font-size: 1.4rem;
}

nav a {
    padding: 15px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    text-decoration: none;
    color: blue;
}

nav a:hover{
    transition-duration: .4s;
    background-color: pink;
    color: white;
}

/* need to add in the active tab -- ask discord about that */

header {
    /* parallax effect */
    background: url("https://images.pexels.com/photos/386025/pexels-photo-386025.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* text here */
    text-align: center;
    align-content: center;
}

.card {
    height: auto;
    display: flex;
    flex-direction: column;
    align-content: center;

    border: 2px solid black;
    margin: 15px;
    padding-bottom: 15px;

    background: blanchedalmond;
}

.card img {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.card h2 {
    margin: 10px 40px;
}

.card p {
    margin: 0px 40px;
}

.card .button {
    margin: 10px 40px;
    bottom
}

.content {
    margin: 0px 100px;
    display: flex;
    flex-direction: row;
}

.button {
    border: 1px solid black;
    padding: 15px;
    background: gold;
    text-align: center;
    width: 150px;
    border-radius: 10px;
}